<html>
{% load staticfiles %}

{% include 'clever/header.html'%}
<head>
<link rel="icon" href="{% static 'clever/css/bootstrap.css'%}">
<style>
.all
{
border:0px solid;
margin:20px;
background-image:url({% static 'clever/img/core-img/texture.png' %});
background-size: 100% 100%;
height:3600px;
padding: 50px;
}
.bll
{
border:0px solid;
background-size: 100% 100%;
height:1000px;
}

h1 {font-size: 30px;}
h2{font-size: 20px;}


  .s2 {
  width: 340px;
  z-index: 1;
  margin:20px;
  background: #f0f0f0;;
  overflow-x: hidden;
  padding: 16px;
}

  .s2 a {
  padding: 6px 10px 6px 60px;
  font-size: 15px;
  color: #000;;
  display: block;
}

  .s2 a:hover {
 background-color: #555;
  color: white;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .s2 {padding-top: 15px;}
    .s2 a {font-size: 18px;}
}
/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1 ;
  color: black;
}


</style>
</head>
<body>
<div class="row">
        <div class="col-md-3 bll">
            <div class="s2">
                <h2>  C Programming</h2>
                <a href="{% url 'C1' %}">C - Home</a>
                <a href="{% url 'EnvironmentSetup1' %}">C - Environment Setup</a>
                <a href="{% url 'ProgramStructure1' %}">C - Program Structure</a>
                <a href="{% url 'BasicSyntax1' %}">C - Basic Syntax</a>
                <a href="{% url 'DataTypes1' %}">C - Data Types</a>
                <a href="{% url 'Variables1' %}">C - Variables</a>
                  <a href="{% url 'Constants1' %}">C - Constants</a>
                 <a href="{% url 'StorageClass1' %}">C - Storage Classes</a>
                <a href="{% url 'Operators1' %}">C - Operators</a>
                <a href="{% url 'DecisionMaking1' %}">C - Decision Making</a>
                <a href="{% url 'Loops1' %}">C - Loops</a>
                <a href="{% url 'Functions1' %}">C - Functions</a>
                 <a href="{% url 'ScopeRules1' %}">C - Scope Rules</a>
                <a href="{% url 'Arrays1' %}">C - Arrays</a>
                 <a href="{% url 'Pointers1' %}">C - Pointers</a>
                <a href="{% url 'Strings1' %}">C - Strings</a>
                <a href="{% url 'Structures1' %}">C - Structures</a>
                 <a href="{% url 'Unions1' %}">C - Unions</a>
                <a href="{% url 'BitField1' %}">C - Bit Fields</a>
        </div>
        </div>
        <div class="col-md-6 all">
            <div class="course-content">
                <center><h1>Array In C</h1></center>

            </div>
<p>Arrays a kind of data structure that can store a fixed-size sequential collection of elements of the same type. An array is used to store a collection of data, but it is often more useful to think of an array as a collection of variables of the same type.</p>
<p>Instead of declaring individual variables, such as number0, number1, ..., and number99, you declare one array variable such as numbers and use numbers[0], numbers[1], and ..., numbers[99] to represent individual variables. A specific element in an array is accessed by an index.</p>
<p>All arrays consist of contiguous memory locations. The lowest address corresponds to the first element and the highest address to the last element.</p>
<center><img src="{% static 'clever/img/bg-img/arrays.jpg' %}" alt="Arrays in C" /></center><br>
<h2>Declaring Arrays</h2>
<p>To declare an array in C, a programmer specifies the type of the elements and the number of elements required by an array as follows &minus;</p>
<pre class="result notranslate">
type arrayName [ arraySize ];
</pre>
<p>This is called a <i>single-dimensional</i> array. The <b>arraySize</b> must be an integer constant greater than zero and <b>type</b> can be any valid C data type. For example, to declare a 10-element array called <b>balance</b> of type double, use this statement &minus;</p>
<pre class="result notranslate">
double balance[10];
</pre>
<p>Here <i>balance</i> is a variable array which is sufficient to hold up to 10 double numbers.</p>
<h2>Initializing Arrays</h2>
<p>You can initialize an array in C either one by one or using a single statement as follows &minus;</p>
<pre class="result notranslate">
double balance[5] = {1000.0, 2.0, 3.4, 7.0, 50.0};
</pre>
<p>The number of values between braces { } cannot be larger than the number of elements that we declare for the array between square brackets [ ].</p>
<p>If you omit the size of the array, an array just big enough to hold the initialization is created. Therefore, if you write &minus;</p>
<pre class="result notranslate">
double balance[] = {1000.0, 2.0, 3.4, 7.0, 50.0};
</pre>
<p>You will create exactly the same array as you did in the previous example. Following is an example to assign a single element of the array &minus;</p>
<pre class="result notranslate">
balance[4] = 50.0;
</pre>
<p>The above statement assigns the 5<sup>th</sup> element in the array with a value of 50.0. All arrays have 0 as the index of their first element which is also called the base index and the last index of an array will be total size of the array minus 1. Shown below is the pictorial representation of the array we discussed above &minus;</p>
<center><img src="{% static 'clever/img/bg-img/arrays11.jpg' %}" alt="Arrays in C" /></center><br>
<h2>Accessing Array Element</h2>
<p>An element is accessed by indexing the array name. This is done by placing the index of the element within square brackets after the name of the array. For example &minus;</p>
<pre class="result notranslate">
double salary = balance[9];
</pre>
<p>The above statement will take the 10<sup>th</sup> element from the array and assign the value to salary variable. The following example Shows how to use all the three above mentioned concepts viz. declaration, assignment, and accessing arrays &minus;</p>

<pre class="prettyprint notranslate">
#include &lt;stdio.h&gt;

int main () {

   int n[ 10 ]; /* n is an array of 10 integers */
   int i,j;

   /* initialize elements of array n to 0 */
   for ( i = 0; i &lt; 10; i++ ) {
      n[ i ] = i + 100; /* set element at location i to i + 100 */
   }

   /* output each array element's value */
   for (j = 0; j &lt; 10; j++ ) {
      printf("Element[%d] = %d\n", j, n[j] );
   }

   return 0;
}
</pre>
<p>When the above code is compiled and executed, it produces the following result &minus;</p>
<pre class="result notranslate">
Element[0] = 100
Element[1] = 101
Element[2] = 102
Element[3] = 103
Element[4] = 104
Element[5] = 105
Element[6] = 106
Element[7] = 107
Element[8] = 108
Element[9] = 109
</pre>
<h2>Arrays in Detail</h2>
<p>Arrays are important to C and should need a lot more attention. The following important concepts related to array should be clear to a C programmer &minus;</p>
<table class="table table-bordered">
<tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Concept &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td><a href="/cprogramming/c_multi_dimensional_arrays.htm">Multi-dimensional arrays</a>
<p>C supports multidimensional arrays. The simplest form of the multidimensional array is the two-dimensional array.</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><a href="/cprogramming/c_passing_arrays_to_functions.htm">Passing arrays to functions</a>
<p>You can pass to the function a pointer to an array by specifying the array's name without an index.</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><a href="/cprogramming/c_return_arrays_from_function.htm">Return array from a function</a>
<p>C allows a function to return an array.</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><a href="/cprogramming/c_pointer_to_an_array.htm">Pointer to an array</a>
<p>You can generate a pointer to the first element of an array by simply specifying the array name, without any index.</p></td>
</tr>
</table>
<hr />
            <br><center><iframe width="600" height="400" src="https://www.youtube.com/embed/SPuS9UJF1lo">
</iframe></center><br>
            <center><a href="{% url 'ScopeRules1' %}" class="previous">&laquo; Previous</a>
            <a href="{% url 'Pointers1' %}" class="next">Next &raquo;</a></center>
<div class="col-md-3 bll"></div>
        </div>
    </div>
    </div>
</body>
{% include 'clever/footer.html'%}
<!-- jQuery-2.2.4 js -->
    <script src="{% static 'clever/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'clever/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'clever/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'clever/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'clever/js/active.js' %}"></script>
</html>