<html>
{% load staticfiles %}
{% include 'clever/header.html'%}
<head>
<link rel="icon" href="{% static 'clever/css/bootstrap.css'%}">
<style>
.all
{
border:0px solid;
margin:20px;
background-image:url({% static 'clever/img/core-img/texture.png' %});
background-size: 100% 100%;
height:3820px;
padding: 50px;
}
.bll
{
border:0px solid;
background-size: 100% 100%;
height:1000px;
}

h1 {font-size: 30px;}
h2{font-size: 20px;}


  .s2 {
  width: 340px;
  z-index: 1;
  margin:20px;
  background: #f0f0f0;;
  overflow-x: hidden;
  padding: 16px;
}

  .s2 a {
  padding: 6px 10px 6px 60px;
  font-size: 15px;
  color: #000;;
  display: block;
}

  .s2 a:hover {
 background-color: #555;
  color: white;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .s2 {padding-top: 15px;}
    .s2 a {font-size: 18px;}
}
/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1 ;
  color: black;
}


</style>
</head>
<body>
<div class="row">
        <div class="col-md-3 bll">
            <div class="s2">
        <h2> C++ Programming Tutorials</h2>
                <a href="{% url 'cpHome1' %}">C++ Home</a>
                <a href="{% url 'cpEnvironmentSetup1' %}">C++ Environment Setup</a>
                <a href="{% url 'cpBasicSyntax1' %}">C++ Basic Syntax</a>
                <a href="{% url 'cpComments1' %}">C++ Comments</a>
                <a href="{% url 'cpDataTypes1' %}">C++ Data Types</a>
                <a href="{% url 'cpVariableTypes1' %}">C++ Variable Types</a>
                <a href="{% url 'cpVariableScope1' %}">C++ Variable Scope</a>
                <a href="{% url 'cpConstantsLiterals1' %}">C++ Constants/Literals</a>
                <a href="{% url 'cpModifierTypes1' %}">C++ Modifier Types</a>
                <a href="{% url 'cpStorageClasses1' %}">C++ Storage Classes</a>
                <a href="{% url 'cpOperators1' %}">C++ Operators</a>
                <a href="{% url 'cpLoopTypes1' %}">C++ Loop Types</a>
                <a href="{% url 'cpDecisionMaking1' %}">C++ Decision Making</a>
                <a href="{% url 'cpFunctions1' %}">C++ Functions</a>
                <a href="{% url 'cpNumbers1' %}">C++ Numbers</a>
                <a href="{% url 'cpArrays1' %}">C++ Arrays</a>


                </ul>

        </div>
        </div>
        <div class="col-md-6 all">
            <div class="course-content">
                <center><h1>C++ Variable Types</h1></center><br>
            </div>
                <p>A variable provides us with named storage that our programs can manipulate. Each variable in C++ has a specific type, which determines the size and layout of the variable's memory; the range of values that can be stored within that memory; and the set of operations that can be applied to the variable.</p>
<p>The name of a variable can be composed of letters, digits, and the underscore character. It must begin with either a letter or an underscore. Upper and lowercase letters are distinct because C++ is case-sensitive &minus;</p>
<p>There are following basic types of variable in C++ as explained in last chapter &minus;</p>
<table class="table table-bordered">
<tr>
<th style="width:5%">Sr.No</th>
<th style="text-align:center;">Type &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>bool</b></p>
<p>Stores either value true or false.</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>char</b></p>
<p>Typically a single octet (one byte). This is an integer type.</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>int</b></p>
<p>The most natural size of integer for the machine.</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>float</b></p>
<p>A single-precision floating point value.</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>double</b></p>
<p>A double-precision floating point value.</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>void</b></p>
<p>Represents the absence of type.</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>wchar_t</b></p>
<p>A wide character type.</p></td>
</tr>
</table>
<p>C++ also allows to define various other types of variables, which we will cover in subsequent chapters like <b>Enumeration, Pointer, Array, Reference, Data structures,</b> and <b>Classes</b>.</p>
<p>Following section will cover how to define, declare and use various types of variables.</p>
<h2>Variable Definition in C++</h2>
<p>A variable definition tells the compiler where and how much storage to create for the variable. A variable definition specifies a data type, and contains a list of one or more variables of that type as follows &minus;</p>
<pre class="result notranslate">
type variable_list;
</pre>
<p>Here, <b>type</b> must be a valid C++ data type including char, w_char, int, float, double, bool or any user-defined object, etc., and <b>variable_list</b> may consist of one or more identifier names separated by commas. Some valid declarations are shown here &minus;</p>
<pre class="result notranslate">
int    i, j, k;
char   c, ch;
float  f, salary;
double d;
</pre>
<p>The line <b>int i, j, k;</b> both declares and defines the variables i, j and k; which instructs the compiler to create variables named i, j and k of type int.</p>
<p>Variables can be initialized (assigned an initial value) in their declaration. The initializer consists of an equal sign followed by a constant expression as follows &minus;</p>
<pre class="result notranslate">
type variable_name = value;
</pre>
<p>Some examples are &minus;</p>
<pre class="result notranslate">
extern int d = 3, f = 5;    // declaration of d and f.
int d = 3, f = 5;           // definition and initializing d and f.
byte z = 22;                // definition and initializes z.
char x = 'x';               // the variable x has the value 'x'.
</pre>
<p>For definition without an initializer: variables with static storage duration are implicitly initialized with NULL (all bytes have the value 0); the initial value of all other variables is undefined.</p>
<h2>Variable Declaration in C++</h2>
<p>A variable declaration provides assurance to the compiler that there is one variable existing with the given type and name so that compiler proceed for further compilation without needing complete detail about the variable. A variable declaration has its meaning at the time of compilation only, compiler needs actual variable definition at the time of linking of the program.</p>
<p>A variable declaration is useful when you are using multiple files and you define your variable in one of the files which will be available at the time of linking of the program. You will use <b>extern</b> keyword to declare a variable at any place. Though you can declare a variable multiple times in your C++ program, but it can be defined only once in a file, a function or a block of code.</p>
<h3>Example</h3>
<p>Try the following example where a variable has been declared at the top, but it has been defined inside the main function &minus;</p>
<pre class="prettyprint notranslate">
#include &lt;iostream&gt;
using namespace std;

// Variable declaration:
extern int a, b;
extern int c;
extern float f;

int main () {
   // Variable definition:
   int a, b;
   int c;
   float f;

   // actual initialization
   a = 10;
   b = 20;
   c = a + b;

   cout &lt;&lt; c &lt;&lt; endl ;

   f = 70.0/3.0;
   cout &lt;&lt; f &lt;&lt; endl ;

   return 0;
}
</pre>
<p>When the above code is compiled and executed, it produces the following result &minus;</p>
<pre class="result notranslate">
30
23.3333
</pre>
<p>Same concept applies on function declaration where you provide a function name at the time of its declaration and its actual definition can be given anywhere else. For example &minus;</p>
<pre class="result notranslate">
// function declaration
int func();
int main() {
   // function call
   int i = func();
}

// function definition
int func() {
   return 0;
}
</pre>
<h2>Lvalues and Rvalues</h2>
<p>There are two kinds of expressions in C++ &minus;</p>
<ul class="list">
<li><p><b>lvalue</b> &minus; Expressions that refer to a memory location is  called "lvalue" expression. An lvalue may appear as either the left-hand or right-hand side of an assignment.</p></li>
<li><p><b>rvalue</b> &minus; The term rvalue refers to a data value that is stored at some address in memory. An rvalue is an expression that cannot have a value assigned to it which means an rvalue may appear on the right- but not left-hand side of an assignment.</p></li>
</ul>
<p>Variables are lvalues and so may appear on the left-hand side of an assignment. Numeric literals are rvalues and so may not be assigned and can not appear on the left-hand side. Following is a valid statement &minus;</p>
<pre class="result notranslate">
int g = 20;
</pre>
<p>But the following is not a valid statement and would generate compile-time error &minus;</p>
<pre class="result notranslate">
10 = 20;
</pre>
<hr />
             <center><a href="{% url 'cpDataTypes1' %}"class="previous">Previous &raquo;</a>
            <a href="{% url 'cpVariableScope1' %}"s class="next">Next &raquo;</a></center>

        </div>
    </div>
    </div>
</body>
{% include 'clever/footer.html'%}
<!-- jQuery-2.2.4 js -->
    <script src="{% static 'clever/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'clever/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'clever/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'clever/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'clever/js/active.js' %}"></script>
</html>