<html>
{% load staticfiles %}
{% include 'clever/header.html'%}
<head>
<link rel="icon" href="{% static 'clever/css/bootstrap.css'%}">
<style>
.all
{
border:0px solid;
margin:20px;
background-image:url({% static 'clever/img/core-img/texture.png' %});
background-size: 100% 100%;
height:6600px;
padding: 50px;
}
.bll
{
border:0px solid;
background-size: 100% 100%;
height:1000px;
}

h1 {font-size: 30px;}
h2{font-size: 20px;}


  .s2 {
  width: 340px;
  z-index: 1;
  margin:20px;
  background: #f0f0f0;;
  overflow-x: hidden;
  padding: 16px;
}

  .s2 a {
  padding: 6px 10px 6px 60px;
  font-size: 15px;
  color: #000;;
  display: block;
}

  .s2 a:hover {
 background-color: #555;
  color: white;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .s2 {padding-top: 15px;}
    .s2 a {font-size: 18px;}
}
/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1 ;
  color: black;
}


</style>
</head>
<body>
<div class="row">
        <div class="col-md-3 bll">
            <div class="s2">
                <h2>  C Programming</h2>
       <a href="{% url 'C1' %}">C - Home</a>
                <a href="{% url 'EnvironmentSetup1' %}">C - Environment Setup</a>
                <a href="{% url 'ProgramStructure1' %}">C - Program Structure</a>
                <a href="{% url 'BasicSyntax1' %}">C - Basic Syntax</a>
                <a href="{% url 'DataTypes1' %}">C - Data Types</a>
                <a href="{% url 'Variables1' %}">C - Variables</a>
                  <a href="{% url 'Constants1' %}">C - Constants</a>
                 <a href="{% url 'StorageClass1' %}">C - Storage Classes</a>
                <a href="{% url 'Operators1' %}">C - Operators</a>
                <a href="{% url 'DecisionMaking1' %}">C - Decision Making</a>
                <a href="{% url 'Loops1' %}">C - Loops</a>
                <a href="{% url 'Functions1' %}">C - Functions</a>
                 <a href="{% url 'ScopeRules1' %}">C - Scope Rules</a>
                <a href="{% url 'Arrays1' %}">C - Arrays</a>
                 <a href="{% url 'Pointers1' %}">C - Pointers</a>
                <a href="{% url 'Strings1' %}">C - Strings</a>
                <a href="{% url 'Structures1' %}">C - Structures</a>
                 <a href="{% url 'Unions1' %}">C - Unions</a>
                <a href="{% url 'BitField1' %}">C - Bit Fields</a>
        </div>
        </div>
        <div class="col-md-6 all">
            <div class="course-content">
                <center><h1>Operators</h1></center>

            </div>
           <p>An operator is a symbol that tells the compiler to perform specific mathematical or logical functions. C language is rich in built-in operators and provides the following types of operators &minus;</p>

<li>Arithmetic Operators</li>
<li>Relational Operators</li>
<li>Logical Operators</li>
<li>Bitwise Operators</li>
<li>Assignment Operators</li>
<li>Misc Operators</li>

<p>We will, in this chapter, look into the way each operator works.</p>
<h2>Arithmetic Operators</h2>
<p>The following table shows all the arithmetic operators supported by the C language. Assume variable <b>A</b> holds 10 and variable <b>B</b> holds 20 then &minus;</p>
<p><a href="/cprogramming/c_arithmetic_operators.htm">Show Examples</a></p>
<table class="table table-bordered">
<tr>
<th style="width:10%;text-align:center;">Operator</th>
<th style="width:55%;text-align:center;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td style="text-align:center;">&plus;</td>
<td>Adds two operands.</td>
<td style="text-align:center;">A &plus; B = 30</td>
</tr>
<tr>
<td style="text-align:center;">&minus;</td>
<td>Subtracts second operand from the first.</td>
<td style="text-align:center;">A &minus; B = -10</td>
</tr>
<tr>
<td style="text-align:center;">*</td>
<td>Multiplies both operands.</td>
<td style="text-align:center;">A * B = 200</td>
</tr>
<tr>
<td style="text-align:center;">/</td>
<td>Divides numerator by de-numerator.</td>
<td style="text-align:center;">B / A = 2</td>
</tr>
<tr>
<td class="ts">%</td>
<td>Modulus Operator and remainder of after an integer division.</td>
<td class="ts">B % A = 0</td>
</tr>
<tr>
<td class="ts">++</td>
<td>Increment operator increases the integer value by one.</td>
<td class="ts">A++ = 11</td>
</tr>
<tr>
<td class="ts">--</td>
<td>Decrement operator decreases the integer value by one.</td>
<td class="ts">A-- = 9</td>
</tr>
</table>
<h2>Relational Operators</h2>
<p>The following table shows all the relational operators supported by C. Assume variable <b>A</b> holds 10 and variable <b>B</b> holds 20 then &minus;</p>
<p><a href="/cprogramming/c_relational_operators.htm">Show Examples</a></p>
<table class="table table-bordered">
<tr>
<th style="width:10%;text-align:center;">Operator</th>
<th style="width:55%;text-align:center;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">==</td>
<td>Checks if the values of two operands are equal or not. If yes, then the condition becomes true.</td>
<td class="ts">(A == B) is not true. </td>
</tr>
<tr>
<td class="ts">!=</td>
<td>Checks if the values of two operands are equal or not. If the values are not equal, then the condition becomes true.</td>
<td class="ts">(A != B) is true.</td>
</tr>
<tr>
<td class="ts">&gt;</td>
<td>Checks if the value of left  operand is greater than the value of right operand. If yes, then the condition becomes true.</td>
<td class="ts">(A &gt; B) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;</td>
<td>Checks if the value of left operand is less than the value of right operand. If yes, then the condition becomes true.</td>
<td class="ts">(A &lt; B) is true.</td>
</tr>
<tr>
<td class="ts">&gt;=</td>
<td>Checks if the value of left operand is greater than or equal to the value of right operand. If yes, then the condition becomes true.</td>
<td class="ts">(A &gt;= B) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;=</td>
<td>Checks if the value of left operand is less than or equal to the value of right operand. If yes, then the condition becomes true.</td>
<td class="ts">(A &lt;= B) is true.</td>
</tr>
</table>
<h2>Logical Operators</h2>
<p>Following table shows all the logical operators supported by C language. Assume variable <b>A</b> holds 1 and variable <b>B</b> holds 0, then &minus;</p>
<p><a href="/cprogramming/c_logical_operators.htm">Show Examples</a></p>
<table class="table table-bordered">
<tr>
<th style="width:10%;text-align:center;">Operator</th>
<th style="width:55%;text-align:center;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">&amp;&amp;</td>
<td>Called Logical AND operator. If both the operands are non-zero, then the condition becomes true.</td>
<td class="ts">(A &amp;&amp; B) is false.</td>
</tr>
<tr>
<td class="ts">||</td>
<td>Called Logical OR Operator. If any of the two operands is non-zero, then the condition becomes true.</td>
<td class="ts">(A || B) is true.</td>
</tr>
<tr>
<td class="ts">!</td>
<td>Called Logical NOT Operator. It is used to reverse the logical state of its operand. If a condition is true, then Logical NOT operator will make it false.</td>
<td class="ts">!(A &amp;&amp; B) is true.</td>
</tr>
</table>
<h2>Bitwise Operators</h2>
<p>Bitwise operator works on bits and perform bit-by-bit operation. The truth tables for &amp;, |, and ^ is as follows &minus;</p>
<table style="text-align:center;" class="table table-bordered">
<tr>
<th style="width:20%;text-align:center;">p</th>
<th style="width:20%;text-align:center;">q</th>
<th style="width:20%;text-align:center;">p &amp; q</th>
<th style="width:20%;text-align:center;">p | q</th>
<th style="width:20%;text-align:center;">p ^ q</th>
</tr>
<tr>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>0</td>
</tr>
<tr>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
</tr>
</table>
<p>Assume A = 60 and B = 13 in binary format, they will be as follows &minus;</p>
<p>A = 0011 1100</p>
<p>B = 0000 1101</p>
<p>-----------------</p>
<p>A&amp;B = 0000 1100</p>
<p>A|B = 0011 1101</p>
<p>A^B = 0011 0001</p>
<p>~A = 1100 0011</p>
<p>The following table lists the bitwise operators supported by C. Assume variable 'A' holds 60 and variable 'B' holds 13, then &minus;</p>
<p><a href="/cprogramming/c_bitwise_operators.htm">Show Examples</a></p>
<table class="table table-bordered">
<tr>
<th style="width:10%;text-align:center;">Operator</th>
<th style="width:55%;text-align:center;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">&amp;</td>
<td>Binary AND Operator copies a bit to the result if it exists in both operands. </td>
<td>(A &amp; B) = 12, i.e., 0000 1100</td>
</tr>
<tr>
<td class="ts">|</td>
<td>Binary OR Operator copies a bit if it exists in either operand.</td>
<td>(A | B) = 61, i.e., 0011 1101</td>
</tr>
<tr>
<td class="ts">^</td>
<td>Binary XOR Operator copies the bit if it is set in one operand but not both. </td>
<td>(A ^ B) = 49, i.e., 0011 0001</td>
</tr>
<tr>
<td class="ts">~</td>
<td style="vertical-align:middle;">Binary One's Complement Operator is unary and has the effect of 'flipping' bits.</td>
<td>(~A ) = ~(60), i.e,. -0111101</td>
</tr>
<tr>
<td class="ts">&lt;&lt;</td>
<td>Binary Left Shift Operator. The left operands value is moved left by the number of bits specified by the right operand.</td>
<td style="vertical-align:middle;">A &lt;&lt; 2 = 240 i.e., 1111 0000</td>
</tr>
<tr>
<td class="ts">&gt;&gt;</td>
<td>Binary Right Shift Operator. The left operands value is moved right by the number of bits specified by the right operand.</td>
<td style="vertical-align:middle;">A &gt;&gt; 2 = 15 i.e., 0000 1111</td>
</tr>
</table>
<h2>Assignment Operators</h2>
<p>The following table lists the assignment operators supported by the C language &minus;</p>
<p><a href="/cprogramming/c_assignment_operators.htm">Show Examples</a></p>
<table class="table table-bordered">
<tr>
<th style="width:10%;text-align:center;">Operator</th>
<th style="width:55%;text-align:center;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">=</td>
<td>Simple assignment operator. Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;">C = A + B will assign the value of A + B to C</td>
</tr>
<tr>
<td class="ts">+=</td>
<td>Add AND assignment operator. It adds the right operand to the left operand and assign the result to the left operand.</td>
<td style="vertical-align:middle;">C += A is equivalent to C = C + A</td>
</tr>
<tr>
<td class="ts">-=</td>
<td>Subtract AND assignment operator. It subtracts the right operand from the left operand and assigns the result to the left operand.</td>
<td style="vertical-align:middle;">C -= A is equivalent to C = C - A</td>
</tr>
<tr>
<td class="ts">*=</td>
<td>Multiply AND assignment operator. It multiplies the right operand with the left operand and assigns the result to the left operand.</td>
<td style="vertical-align:middle;">C *= A is equivalent to C = C * A</td>
</tr>
<tr>
<td class="ts">/=</td>
<td>Divide AND assignment operator. It divides the left operand with the right operand and assigns the result to the left operand.</td>
<td style="vertical-align:middle;">C /= A is equivalent to C = C / A</td>
</tr>
<tr>
<td class="ts">%=</td>
<td>Modulus AND assignment operator. It takes modulus using two operands and assigns the result to the left operand.</td>
<td style="vertical-align:middle;">C %= A is equivalent to C = C % A</td>
</tr>
<tr>
<td class="ts">&lt;&lt;=</td>
<td>Left shift AND assignment operator.</td>
<td>C &lt;&lt;= 2 is same as  C = C &lt;&lt; 2</td>
</tr>
<tr>
<td class="ts">&gt;&gt;=</td>
<td>Right shift AND assignment operator.</td>
<td>C &gt;&gt;= 2 is same as  C = C &gt;&gt; 2</td>
</tr>
<tr>
<td class="ts">&amp;=</td>
<td>Bitwise AND assignment operator.</td>
<td>C &amp;= 2 is same as  C = C &amp; 2</td>
</tr>
<tr>
<td class="ts">^=</td>
<td>Bitwise exclusive OR and assignment operator.</td>
<td>C ^= 2 is same as  C = C ^ 2</td>
</tr>
<tr>
<td class="ts">|=</td>
<td>Bitwise inclusive OR and assignment operator.</td>
<td>C |= 2 is same as  C = C | 2</td>
</tr>
</table>
<h2>Misc Operators &map; sizeof &amp; ternary</h2>
<p>Besides the operators discussed above, there are a few other important operators including <b>sizeof</b> and <b>? :</b> supported by the C Language.</p>
<p><a href="/cprogramming/c_sizeof_operator.htm">Show Examples</a></p>
<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th>
<th style="width:43%;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">sizeof()</td>
<td style="vertical-align:middle;">Returns the size of a variable.</td>
<td>sizeof(a), where a is integer, will return 4.</td>
</tr>
<tr>
<td class="ts">&amp;</td>
<td style="vertical-align:middle;">Returns the address of a variable.</td>
<td>&amp;a; returns the actual address of the variable.</td>
</tr>
<tr>
<td style="text-align:center;">*</td>
<td>Pointer to a variable.</td>
<td>*a;</td>
</tr>
<tr>
<td class="ts">? :</td>
<td style="vertical-align:middle;">Conditional Expression.</td>
<td>If Condition is true ? then value X : otherwise value Y</td>
</tr>
</table>
<h2>Operators Precedence in C</h2>
<p>Operator precedence determines the grouping of terms in an expression and decides how an expression is evaluated. Certain operators have higher precedence than others; for example, the multiplication operator has a higher precedence than the addition operator.</p>
<p>For example, x = 7 + 3 * 2; here, x is assigned 13, not 20 because operator * has a higher precedence than +, so it first gets multiplied with 3*2 and then adds into 7.</p>
<p>Here, operators with the highest precedence appear at the top of the table, those with the lowest appear at the bottom. Within an expression, higher precedence operators will be evaluated first.</p>
<p><a href="/cprogramming/c_operators_precedence.htm">Show Examples</a></p>
<table style="text-align:center;" class="table table-bordered">
<tr>
<th style="text-align:center;">Category</th>
<th style="text-align:center;">Operator</th>
<th style="text-align:center;">Associativity</th>
</tr>
<tr>
<td>Postfix</td>
<td>() [] -&gt; . ++ - -</td>
<td>Left to right</td>
</tr>
<tr>
<td>Unary</td>
<td>+  -  !  ~  ++  - -  (type)*  &amp; sizeof</td>
<td>Right to left</td>
</tr>
<tr>
<td>Multiplicative</td>
<td>*  /  %</td>
<td>Left to right</td>
</tr>
<tr>
<td>Additive</td>
<td>+  -</td>
<td>Left to right</td>
</tr>
<tr>
<td>Shift</td>
<td>&lt;&lt; &gt;&gt;</td>
<td>Left to right</td>
</tr>
<tr>
<td>Relational</td>
<td>&lt; &lt;=  &gt; &gt;=</td>
<td>Left to right</td>
</tr>
<tr>
<td>Equality</td>
<td>==  !=</td>
<td>Left to right</td>
</tr>
<tr>
<td>Bitwise AND</td>
<td>&amp;</td>
<td>Left to right</td>
</tr>
<tr>
<td>Bitwise XOR</td>
<td>^</td>
<td>Left to right</td>
</tr>
<tr>
<td>Bitwise OR</td>
<td>|</td>
<td>Left to right</td>
</tr>
<tr>
<td>Logical AND</td>
<td>&amp;&amp;</td>
<td>Left to right</td>
</tr>
<tr>
<td>Logical OR</td>
<td>||</td>
<td>Left to right</td>
</tr>
<tr>
<td>Conditional</td>
<td>?:</td>
<td>Right to left</td>
</tr>
<tr>
<td>Assignment</td>
<td>=  +=  -=  *=  /=  %=&gt;&gt;=  &lt;&lt;=  &amp;=  ^= |=</td>
<td>Right to left</td>
</tr>
<tr>
<td>Comma</td>
<td>,</td>
<td>Left to right</td>
</tr>
</table>
            <center><a href="{% url 'StorageClass1' %}" class="previous">&laquo; Previous</a>
            <a href="{% url 'DecisionMaking1' %}" class="next">Next &raquo;</a></center>


    </div>
</div>
</body>
{% include 'clever/footer.html'%}
<!-- jQuery-2.2.4 js -->
    <script src="{% static 'clever/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'clever/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'clever/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'clever/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'clever/js/active.js' %}"></script>
</html>