<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% include 'clever/header.html'%}

<link rel="icon" href="{% static 'clever/css/bootstrap.css'%}">
    <script type="text/javascript" src="{% static 'clever/jq/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'clever/jq/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function(){
        $(".t1").click(function(){
        $(".p1").show();
        $(".p2").hide();
        });

        $(".t2").click(function(){
        $(".p1").hide();
        $(".p2").show();
        });
        });

    </script>
    <style>
.all
{
border:0px solid;
margin:20px;
background-image:url({% static 'clever/img/core-img/texture.png' %});
background-size: 100% 100%;
height:2500px;
padding: 50px;
}
.bll
{
border:0px solid;
background-size: 100% 100%;
height:1000px;
}

h1 {font-size: 30px;}
h2{font-size: 20px;}
h3{font-size: 16px;}


  .s2 {
  width: 340px;
  z-index: 1;
  margin:20px;
  background: #f0f0f0;;
  overflow-x: hidden;
  padding: 16px;
}

  .s2 a {
  padding: 6px 10px 6px 60px;
  font-size: 15px;
  color: #000;;
  display: block;
}

  .s2 a:hover {
 background-color: #555;
  color: white;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .s2 {padding-top: 15px;}
    .s2 a {font-size: 18px;}
}
/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;

}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1 ;
  color: black;
}
.button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {border-radius: 12px;}


</style>
<body>

<div class="container-fluid">
<div class="row">
        <div class="col-md-3 bll">
            <div class="s2">
                <h2> Test</h2>
                <p class="t1">C Questions</p>
                <p class="t2">C++ Questions</p>

        </div>
        </div>
       <div class="col-md-6 all" style="border:solid 0px ;">
           <div class="p1" style="border:solid 0px ;height:2500px;">
                <center><h1>C Programming Test </h1></center><br>
   <h3>Q.1 Which of the following statements should be used to obtain a remainder after dividing 3.14 by 2.1 ?</h3>
               <form method="post" action="{% url 'cr' %}">{% csrf_token %}
                   <input type="radio" name="qn" value="A">  rem = 3.14 % 2.1;<br>
                   <input type="radio" name="qn" value="B">  rem = modf(3.14, 2.1) ;<br>
                   <input type="radio" name="qn" value="C">  rem =fmod(3.14, 2.1) ;<br>
                   <input type="radio" name="qn" value="D">  Remainder cannot be obtain in floating point division.

               <br><br>

                   <h3>Q.2 What are the types of linkages?</h3>

                    <input type="radio" name="qn1" value="A">  Internal and External<br>
                   <input type="radio" name="qn1" value="B">  External, Internal and None<br>
                   <input type="radio" name="qn1" value="C">  External and None<br>
                   <input type="radio" name="qn1" value="D">  Internal
               <br><br>

               <h3>Q.3 What is the output of the program given below ?</h3>
                       <pre><code class="cpp">#include&lt;stdio.h&gt;
int main()
{
    enum status { pass, fail, atkt};
    enum status stud1, stud2, stud3;
    stud1 = pass;
    stud2 = atkt;
    stud3 = fail;
    printf("%d, %d, %d\n", stud1, stud2, stud3);
    return 0;
}
</code></pre>

                    <input type="radio" name="qn2" value="A">  0, 1, 2<br>
                   <input type="radio" name="qn2" value="B">  1, 2, 3<br>
                   <input type="radio" name="qn2" value="C">  0, 2, 1<br>
                   <input type="radio" name="qn2" value="D">	1, 3, 2
               <br><br>
               <h3>Q.4 What will be the output of the program in 16 bit platform (Turbo C under DOS)?</h3>
                       <pre><code class="cpp">#include<stdio.h>
int main()
{
    extern int i;
    i = 20;
    printf("%d\n", sizeof(i));
    return 0;
}
</code></pre>

                    <input type="radio" name="qn3" value="A">  2<br>
                   <input type="radio" name="qn3" value="B">  4<br>
                   <input type="radio" name="qn3" value="C">  vary from compiler<br>
                   <input type="radio" name="qn3" value="D">  Linker Error : Undefined symbol 'i'

           <br><br>

                <h3>Q.5 Which of the following correctly represents a long double constant?</h3>

                    <input type="radio" name="qn4" value="A">  6.68<br>
                   <input type="radio" name="qn4" value="B">  6.68L<br>
                   <input type="radio" name="qn4" value="C">  6.68f<br>
                   <input type="radio" name="qn4" value="D">  6.68LF

           <br><br>
                <h3>Q.6 A long double can be used if range of a double is not enough to accommodate a real number.</h3>

                    <input type="radio" name="qn5" value="A">  True<br>
                   <input type="radio" name="qn5" value="B">  False<br>

    <br><br>
                <h3>Q.7 A float is 4 bytes wide, whereas a double is 8 bytes wide.</h3>

                    <input type="radio" name="qn6" value="A">  True<br>
                   <input type="radio" name="qn6" value="B">  False<br>

           <br><br>
                <h3>Q.8 If the definition of the external variable occurs in the source file before its use in a particular function, then there is no need for an extern declaration in the function.</h3>

                    <input type="radio" name="qn7" value="A">  True<br>
                   <input type="radio" name="qn7" value="B">  False<br>

           <br><br>
                <h3>Q.9 What is the output of the program</h3>
                  <pre><code class="cpp">#include<stdio.h>
int main()
{
    struct emp
    {
        char name[20];
        int age;
        float sal;
    };
    struct emp e = {"Tiger"};
    printf("%d, %f\n", e.age, e.sal);
    return 0;
}
</code></pre>
                    <input type="radio" name="qn8" value="A">  0, 0.000000<br>
                   <input type="radio" name="qn8" value="B">  Garbage values<br>
                   <input type="radio" name="qn8" value="C">  Error<br>
                   <input type="radio" name="qn8" value="D">  None of above

    <br><br>
               <h3>Q.10 What is the output of the program in Turbo C (in DOS 16-bit OS)?</h3>
                  <pre><code class="cpp">#include<stdio.h>
int main()
{
    char *s1;
    char far *s2;
    char huge *s3;
    printf("%d, %d, %d\n", sizeof(s1), sizeof(s2), sizeof(s3));
    return 0;
}
</code></pre>

                    <input type="radio" name="qn9" value="A">  2, 4, 6<br>
                   <input type="radio" name="qn9" value="B">  4, 4, 2<br>
                   <input type="radio" name="qn9" value="C">  2, 4, 4<br>
                   <input type="radio" name="qn9" value="D">  2, 2, 2

          <br><br>
             <center>  <button type="submit" class="button button4">Submit Test</button></center> </form>
           </div>
           <div class="p2" style="border:solid 0px ;height:2500px; display:none;">
                <center><h1>C++ Programming Test </h1></center><br>
               <h3>Q.1 Which of the following type of class allows only one object of it to be created?</h3>
<form method="post" action="{% url 'cpr' %}">{% csrf_token %}
                    <input type="radio" name="q1" value="A">  Virtual class<br>
                   <input type="radio" name="q1" value="B">  Abstract class<br>
                   <input type="radio" name="q1" value="C">  Singleton class<br>
                   <input type="radio" name="q1" value="D">  Friend class

           <br><br>
                    <h3>Q.2 Which of the following is not a type of constructor?</h3>

                    <input type="radio" name="q2" value="A">  Copy constructor<br>
                   <input type="radio" name="q2" value="B">  Friend constructor<br>
                   <input type="radio" name="q2" value="C">  Default constructor<br>
                   <input type="radio" name="q2" value="D">  Parameterized constructor

          <br><br>

                                <h3>Q.3 Which of the following statements is correct?</h3>

                    <input type="radio" name="q3" value="A">  Base class pointer cannot point to derived class.<br>
                   <input type="radio" name="q3" value="B">  Derived class pointer cannot point to base class.<br>
                   <input type="radio" name="q3" value="C">  Pointer to derived class cannot be created.<br>
                   <input type="radio" name="q3" value="D">  Pointer to base class cannot be created.

           <br><br>

                     <h3>Q.4 Which of the following is not the member of class?</h3>

                    <input type="radio" name="q4" value="A">  Static function<br>
                   <input type="radio" name="q4" value="B">  Friend function<br>
                   <input type="radio" name="q4" value="C">  Const function<br>
                   <input type="radio" name="q4" value="D">  Virtual function

           <br><br>

                <h3>Q.5 Which of the following concepts means determining at runtime what method to invoke?</h3>

                    <input type="radio" name="q5" value="A">  Data hiding<br>
                   <input type="radio" name="q5" value="B">  Dynamic Typing<br>
                   <input type="radio" name="q5" value="C">  Dynamic binding<br>
                   <input type="radio" name="q5" value="D">  Dynamic loading

    <br><br>
                <h3>Q.6 Which of the following term is used for a function defined inside a class?</h3>
               
                    <input type="radio" name="q6" value="A">  Member Variable<br>
                   <input type="radio" name="q6" value="B">  Member function<br>
                   <input type="radio" name="q6" value="C">  Class function<br>
                   <input type="radio" name="q6" value="D">  Classic function

           <br><br>
                <h3>Q.7 Which of the following concept of oops allows compiler to insert arguments in a function call if it is not specified?</h3>
               
                    <input type="radio" name="q7" value="A">  Call by value<br>
                   <input type="radio" name="q7" value="B">  Call by reference<br>
                   <input type="radio" name="q7" value="C">  Default arguments<br>
                   <input type="radio" name="q7" value="D">  Call by pointer

           <br><br>
                <h3>Q.8 How many instances of an abstract class can be created?</h3>
               
                    <input type="radio" name="q8" value="A">  1<br>
                   <input type="radio" name="q8" value="B">  5<br>
                   <input type="radio" name="q8" value="C">  13<br>
                   <input type="radio" name="q8" value="D">  0

           <br><br>
                <h3>Q.9 Which of the following cannot be friend?</h3>
               
                    <input type="radio" name="q9" value="A">  Function<br>
                   <input type="radio" name="q9" value="B">  Class<br>
                   <input type="radio" name="q9" value="C">  Object<br>
                   <input type="radio" name="q9" value="D">  Operator function

           <br><br>
                <h3>Q.10 Which of the following concepts of OOPS means exposing only necessary information to client?</h3>
               
                    <input type="radio" name="q10" value="A">  Encapsulation<br>
                   <input type="radio" name="q10" value="B">  Abstraction<br>
                   <input type="radio" name="q10" value="C">  Data hiding<br>
                   <input type="radio" name="q10" value="D">  Data binding

           <br><br>
               <center>  <button type="submit" class="button button4">Submit Test</button></center></form>
           </div>

 </div><!--  6 div close --->

    <div class="col-md-3 bll"></div>
</div>
</div>
</body>
{% include 'clever/footer.html'%}
<!-- jQuery-2.2.4 js -->
    <script src="{% static 'clever/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'clever/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'clever/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'clever/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'clever/js/active.js' %}"></script>

</html>